/* VARIABLES */
:root {
    --offred:          rgb(214, 36, 36);
    --lightred:     #de5454;
    --lightred:     #f39d9d;
    --offwhite:        #F5EDED; 
    --lightwhite:   #f7f1f1;
    --darkwhite:    #ebdbdb;
    --gray:         #3E3636;
    --navbarcolour:   rgb(42, 39, 39);
}
/* KEYFRAMES */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* RESET */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: red;
}  
::selection {
    color: white;
    background: red;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}

html, body {
    position: absolute;
    /* Removes horizontal scroll(bar) */
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--offwhite);
    background-color: white;
    padding-top: 6rem;
}

h2 {
    display: flex;
    align-items: center;
    column-gap: 5px;
    /*  */
    min-width: fit-content;
    margin: 0 auto;
    color: black;
    padding: 0 1rem;
    font-size: 2rem;
}

svg {
    fill: white;
}

/* ============================================================================================== */
/* ======================================== Phone styles ======================================== */
/* ============================================================================================== */

@media screen and (min-width: 350px) {

    /* ================ Extra ================ */

    .content {
        /* max-width: 94%; */
        max-width: 45ch;
        padding: 0 2rem;
        margin: 0 auto;
    }

    .header_icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .glass {
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(52, 52, 52, 0.3));
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        text-shadow: 8px 5px 5px rgba(0, 0, 0, 0.3);
    }
    
    /* ================ Header ================ */

    .header {
        z-index: 10;
        width: 100%;
        top: 0;
        position: fixed;
        background-color: var(--navbarcolour);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .header_top {
        background-color: green;
        color: white;
        min-width: 100%;
        margin: 0 auto;
        padding: 0 0.5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        font-size: 0.65rem;
    }

    .top_contact {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
    }

    .header_bottom {
        color: white;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .logo_img {
        max-width: 100px;
        max-height: 100px;
    }

    .logo_text {
        font-size: 1rem;
        letter-spacing: -1px;
    }

    .nav {
        transition: all 0.3s ease-out;
        position: fixed;
        top: 6rem;
        left: 0;
        background-color: var(--navbarcolour);
        width: 100%;
        padding: 1rem 0;
        transform: translateX(100%);
        font-weight: bolder;
    }

    .nav_open {
        transform: translateX(0%) !important;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
    }

    .nav_item {
        width: 7.5rem;
        padding: 0.2rem 0.5rem;
        text-align: center;
        border: var(--offred) solid 2px;
        border-radius: 100px;
    }

    .nav_item:hover, .nav_item:focus {
        background-color: var(--offred);
    }

    .nav_button {
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 1px;
        background-color: var(--offred);
    }

    .nav_button:hover {
        background-color: var(--lightred);
        border-color: var(--lightred);
        color: black;
    }
    
    .hamburger {
        display: block;
        background-color: var(--offred);
        padding: 6px;
        border-radius: 5px;
    }
    
    .hamburger_open .bar:nth-child(1){
        transform: translateY(7px) rotate(45deg);
    }
    
    .hamburger_open .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger_open .bar:nth-child(3){
        transform: translateY(-7px) rotate(-45deg);
    }
    
    .bar {
        height: 2px;
        width: 27px;
        margin: 5px 0;
        background-color: white;
        transition: all 0.3s ease-out;
    }

    /* ================ Button ================ */

    #button_fixed {
        z-index: 10;
        position: fixed;
        bottom: 5%;
        right: 5%;
        background-color: var(--offred);
        color: white;
        text-transform: uppercase;
        /* font-weight: bold; */
        letter-spacing: 1px;
        border-radius: 100px;
        padding: 0.5rem 1rem;
    }

    #button_fixed:hover {
        background-color: var(--lightred);
        color: black;
    }

    /* ================ Banner ================ */

    .banner {
        width: 100%;
        overflow-x: hidden;
        background-image: url("https://images.pexels.com/photos/4480461/pexels-photo-4480461.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-position: center;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
    }

    .banner_info {
        height: calc(100vh - 6rem);
        min-width: 84%;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: space-between;
    }

    .banner_left {
        z-index: 9;
        min-width: 94%;
        min-height: 80%;
        padding: 0.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .banner_text {
        font-size: min(15vw, 4rem);
        text-transform: capitalize;
        font-weight: bold;
        color: white;
    }
    
    #expert {
        font-family: 'Permanent Marker', cursive;
        font-size: min(20vw, 5rem);
        color: var(--offred);
    }


    /* ================ Diensten ================ */

    .diensten {
        /* background-color: blue; */
        /* height: calc(100vh - 6rem); */
    }

    .diensten_header {
        text-align: center;
        padding: 1rem;
    }
    
    .diensten_header h2 {
        max-width: fit-content;
        margin: 0 auto;
        color: black;
    }

    .diensten_scroller {
        --spacer: 1.5rem;
        color: black;
        display: grid;
        gap: var(--spacer);
        grid-auto-flow: column;
        grid-auto-columns: 93%;
        padding: var(--spacer);
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
    .diensten_item {
        padding: var(--spacer);
        display: grid;
        grid-template-rows: min-content;
        gap: var(--spacer);
        text-align: center;
        min-width: 25ch;
    }
    .diensten_item h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    .diensten_item p {
        font-size: 1rem;
    }
    .diensten_button {
        /* border: var(--offred) 1px solid; */
        border-radius: 2rem;
        color: white;
        background-color: rgba(214, 36, 36, 0.8);
        width: fit-content;
        padding: 0.5rem 2rem;
        margin: 0 auto;
    }
    .snaps_inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: var(--spacer);
    }
    .snaps_inline > * {
        scroll-snap-align: start;
    }

    /* .diensten_cards {
        background-color: orange;
        display: flex;
        justify-content: space-between;
        margin: 5% auto;
        width: 80%;
        min-height: 60%;
        padding: 0;
    }

    .diensten_card {
        background-color: yellow;
        color: black;
        padding: 0.5rem;
        text-align: center;
    }

    .diensten_card h3 {
        font-size: 1.5rem;
    }

    .diensten_card p {
        font-size: 1rem;
    }

    .arrow {
        text-align: center;
        min-width: 15%;
        display: flex;
        align-items: center;

    }

    .arrow svg {
        fill: var(--navbarcolour);
    } */

    /* ================  ================ */
    /* ================  ================ */

    /* ================ Made by ================ */
    .madeby {
        background-color: black;
        color: white;
        font-size: 0.8em;
        text-align: center;
    }
}